<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Periodic Table</title>
    <!-- Uncomment below line for autorefresh on server -->
    <!-- <script type="text/javascript" src="http://livejs.com/live.js"></script> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../bootstrap-5.0.1-dist/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../main.css">
</head>
<body>
<section class="header">
    <div class="titlePanel row">
        <h1 id="title">The Periodic Table</h1>
    </div>
</section>
<section class="main">
    {{{body}}}
</section>
<script type="text/javascript" src="../typewriter.js"></script>
</body>
</html>